.number{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 47%;
    transform: rotate(calc(30deg * var(--i) - 90deg)) translate(175px) rotate(calc(-30deg * var(--i) + 90deg));
}
.number span{
  font-weight: bold;
  font-size: 25px;
}